* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gainsboro;
}
.contenedor {
    width: 95%;
    margin: auto;
    background-color: aquamarine;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 14px;
}
.header img {
    width: 150px;
}
.main {
    background-color: yellow;
}